

/* Mobile Styles */
@media only screen and (max-width: 400px) {




.numerosA#sections .step:first-child .bgbg {
  z-index: 0;
position: fixed;

   transition: all 0s ease;
  -webkit-transition:all 0s ease;

 }










}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
 
 #sections .step:first-child .bgbg {
  z-index: 0;
position: fixed;

   transition: all 0s ease;
  -webkit-transition:all 0s ease;

 }










}

/* Desktop Styles */
@media only screen and (min-width: 961px) {

#sections .step:first-child .bgbg {
  z-index: 0;
position: fixed;

   transition: all 0s ease;
  -webkit-transition:all 0s ease;

 }









}




/* print Styles */
@media print {


#sections .step:first-child .bgbg {
  z-index: 0;
position: relative;
visibility: visible !important;
opacity: 1 !important;
display: inline-block !important;


 }










}












.step {
   transition: all 0s ease;
  -webkit-transition:all 0s ease;

 
  /*
  -webkit-box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12); 
*/
 }


 
@media only screen and (max-width: 400px) {
 

.step-content {
/*  max-width: 800px;
  margin: 0 auto 400px; */
  width:100%;

     /*   background-color: #fff !important;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  z-index: 2;
color: #666666;
    font-family:
    "Arial",
    sans-serif;
  font-weight: 400;
  font-size: 17px;
line-height: 1.3em; */

    font-family: 
      "Arial",
      sans-serif;
    font-size: 19px;
    line-height: 1.6em;
 color: #888;
 margin-top: 300px;
   background-color: #fff;
  position: relative;
padding-left: 16px;
padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
      z-index: 9985;
   box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
   overflow: hidden;




}

}

 
/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
 

.step-content {
/*  max-width: 800px; 
  width:100%;
  margin: 0 auto 25vh;*/
 /*  background-color: #fff !important;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 22px;
  padding-bottom: 22px;
  z-index: 2;
color: #666666;
    font-family:
    "Arial",
    sans-serif;
  font-weight: 400;
  font-size: 17px;
line-height: 1.3em; */

     font-size: 19px;
 color: #888;
     line-height: 1.3em;

 margin-top: 50px;
   background-color: #fff;
  position: relative;
padding-left: 36px;
padding-right: 36px;
    padding-top: 36px;
    padding-bottom: 36px;
      z-index: 9985;
   box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
   overflow: hidden;




}

}

 
/* Desktop Styles */
@media only screen and (min-width: 961px) {
 

.step-content {
/*  max-width: 800px; 
  width:100%;
  margin: 0 auto 3vh;*/
 /*   background-color: #fff !important;
  position: relative;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 22px;
  padding-bottom: 22px;
  z-index: 2;
color: #666666;
    font-family:
    "Arial",
    sans-serif;
  font-weight: 400;
  font-size: 17px;
line-height: 1.3em; */
     font-size: 19px;
    line-height: 1.3em;
color: #888;
 margin-top: 50px;
   background-color: #fff;
  position: relative;
padding-left: 36px;
padding-right: 36px;
    padding-top: 36px;
    padding-bottom: 36px;
      z-index: 9985;
   box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
   overflow: hidden;



}

}

#openerimg {
   z-index: 0;
}

.wrap {
   margin: 20px auto 20px;
  width: 100%;
  text-align:center;
}

.full img {
  width: 90%;
  height: 90%;
     position: relative;
 
}

/* Aspect ratio trick */
.aspect {
  position: relative;
}

/* This padding preserve the aspect ratio */
.aspect:before {
  content: '';
  display: block;
  padding-top: calc(100% * 140/596);/* You could also manually calculate the percentage */
}

.aspect img {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}




.example {
  -webkit-columns: 2 250px;
  -moz-columns: 2 250px;
  columns: 2 250px;
  -webkit-column-gap: 5em;
  -moz-column-gap: 5em;
  column-gap: 5em;
  -webkit-column-rule-width: 1px;
  -moz-column-rule-width: 1px;
  column-rule-width: 1px;
  -webkit-column-rule-color: #828282;
  -moz-column-rule-color: #828282;
  column-rule-color: #828282;
  margin: 2em auto 2em;
}

.example-dotted {
  -webkit-column-rule-style: dotted;
  -moz-column-rule-style: dotted;
  column-rule-style: dotted;
}




ul {

  margin-bottom:1em;

}


h3 {

  padding: 0;
   font-family: "din_bold-webfont",
    "Arial",
    sans-serif !important;
  font-size: 48px !important;
line-height:1.3em;
margin-top:.6em;
margin-bottom:.3em;
top:0;


}




h4 {

  font-family: "din_bold-webfont",
    "Arial",
    sans-serif !important;
 padding-bottom: 0;
  font-size: 36px !important;
margin-top:.6em;
margin-bottom:.3em;

}




@media print {



h5 {

  font-family: "din_bold-webfont",
    "Arial",
    sans-serif !important;
 margin-bottom: 12px;
 


font-size: 30px !important;
    margin-top: 42px !important;
    text-align: left;
    font-weight: 800 !important;


}


}


/* Mobile Styles */
@media only screen and (max-width: 400px) {

 


h5 {

  font-family: "din_bold-webfont",
    "Arial",
    sans-serif !important;
 margin-bottom: 12px;
 


font-size: 26px !important;
    margin-top: 36px !important;
    text-align: left;
    font-weight: 800 !important;



}



}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
 




h5 {

  font-family: "din_bold-webfont",
    "Arial",
    sans-serif !important;
 margin-bottom: 12px;
font-size: 30px !important;
    margin-top: 42px !important;
    text-align: left;
    font-weight: 800 !important;}


}

/* Desktop Styles */
@media only screen and (min-width: 961px) {


 


h5 {

  font-family: "din_bold-webfont",
    "Arial",
    sans-serif !important;
 margin-bottom: 12px;
 


font-size: 30px !important;
    margin-top: 42px !important;
    text-align: left;
    font-weight: 800 !important;


}

}








h3.prog {
color:#000;
 }


h3.staff {
color:#000;
}


h3.part {
color:#000;
}


#greenoverlay {

background-color: #35443c;
/*background-image:
    linear-gradient(
      to bottom left, 
      #35443c 10%, #dcf428
    ); */

 left:-5%;
 top:-5%;
 width: 110%;
height: 110%;
display: block;
position: fixed;
opacity: 1;

}

#greenoverlaycover {

background-color: #35443c;
/*background-image:
    linear-gradient(
      to bottom left, 
      #35443c 10%, #dcf428
    ); */
 left:-5%;
 top:-5%;
 width: 110%;
height: 110%;
display: block;
position: fixed;
opacity: .6;

}


#step-1 {
  visibility: hidden;
}

#container-0 {
/*  max-width: 800px; 
font-size: 60px;*/
color: #dcf428;
 
}
#container-1 {
/*  max-width: 800px;
 font-size: 60px; */
color: #dcf428;


}


#container-2 {
/*  max-width: 800px;

 font-size: 48px;*/
color: #dcf428;
 }

#container-3 {
/*  max-width: 800px;    background-color:rgba(128, 10, 214,.9);
 
  font-size: 48px;*/
color: #dcf428;

 }

#container-4 {
/*  max-width: 800px;   background-color:#001557;
 
 font-size: 60px;*/
color: #dcf428;

 
 }

#container-5 {
/*  max-width: 800px;    background-color:#AF202D;

  font-size: 60px;*/
color: #dcf428;

 }



#container-6 {
/*  max-width: 800px;

 font-size: 60px;*/
color: #dcf428;
 }



#container-7 {
/*  max-width: 800px;

 font-size: 60px;*/
color: #dcf428;
 }






#container-8 {
/*  max-width: 800px;     

  font-size: 60px;*/
color: #dcf428;
}





#container-9 {
/*  max-width: 800px;     

 font-size: 60px;*/
color: #dcf428;
 }





#container-10 {
/*  max-width: 800px;     

 font-size: 60px;*/
color: #dcf428;
 }



#container-11 {
/*  max-width: 800px;     

 font-size: 60px;*/
color: #dcf428;
 }



#container-12 {
/*  max-width: 800px;     

 font-size: 60px;*/
color: #dcf428;
 }



#container-13 {
/*  max-width: 800px;     

  font-size: 60px;*/
color: #dcf428;
}



#container-14 {
/*  max-width: 800px;     

 font-size: 60px;*/
color: #dcf428;
 }



#container-15 {
/*  max-width: 800px;     

 font-size: 60px;*/
color: #dcf428;
 }



#container-16 {
/*  max-width: 800px;     

 font-size: 60px;*/
color: #dcf428;
 }



#container-17 {
/*  max-width: 800px;     

 font-size: 60px;*/
color: #dcf428;
 }



#container-18 {
/*  max-width: 800px;     

  font-size: 60px;*/
color: #dcf428;
}




#container-19 {
/*  max-width: 800px;     

 font-size: 60px;*/
color: #dcf428;
 }


#container-20 {
/*  max-width: 800px;     

  font-size: 60px;*/
color: #dcf428;
}


#container-21 {
/*  max-width: 800px;     

  font-size: 60px;*/
color: #dcf428;
}


#container-22 {
/*  max-width: 800px;     
  font-size: 60px;*/

color: #dcf428;
 }




#container-23 {
/*  max-width: 800px;     

  font-size: 60px;*/
color: #dcf428;
 }




#container-24 {
/*  max-width: 800px;     

  font-size: 60px;*/
color: #dcf428;
 }




#container-25 {
/*  max-width: 800px;     

  font-size: 60px;*/
color: #dcf428;
 }




#container-26 {
/*  max-width: 800px;     

  font-size: 60px;*/
color: #dcf428;
 }




#container-27 {
/*  max-width: 800px;     
  font-size: 60px;*/

color: #dcf428;
 }







blockquote {
  font-family: "din_bold-webfont",
    "Arial",
    sans-serif;
    text-transform: uppercase;
    font-size: 18px;

    width: 100%;
    margin: 0.25em 0;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
    color: #001557;
    border-left: none;
}

blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #001557;
}

blockquote cite {
    color: #001557;
    font-size: 14px;
    display: block;
    text-align: right;
    float: right;
    margin-top: 5px;
}


.bigblues {
  color:#3871C1;
  font-weight:800;
  text-transform: uppercase;

}

.tagblues {
  color:#fff;
  font-weight:800;
  text-transform: uppercase;
  background:none;
  background-color:none;
  font-size:.8em;
  max-width:400px;
  bottom:3vh;
  left:3vw;
  opacity: 0;
  position:fixed;
  display:none;
  z-index:999999999999;
      text-shadow: 1px 1px 1px #000;

}

.imgcontainer {

  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 6px;
}

.imgcontainerB {

  display: inline-block;
  width: 100%;
  text-align: center;
  margin-bottom: .3em;
  margin-top: 1em;
}


 

#titleCloser {

    background-color: rgba(56, 113, 193, .9);
padding:3vh;

left: 0;
  text-transform: none !important;
  color: #fff;
  font-size: 1.5em;
display: none;

  font-family: "din_bold-webfont",
    "Arial",
    sans-serif;
  font-weight: 400;

  margin-bottom: 0;
    top: 1.8em;


  text-align: left;
  line-height: 1.3em;
  position: fixed;
  width: 100%;
  z-index: 99997;
}
#titleCloser img {
  margin-right: 1em;
  min-width:150px;
}

 
 


.introimg {

padding: .3em;


}

